Package:          WDCrack
Packager:         Fox
Email:            fox.axon@gmail.com
Homepage:         http://anionix.ddns.net
Description:      Apps list, Fixes and other stuff
Icon:             WDCrack.png
AddonShowName:    WDCrack
AddonIndexPage:
AddonUsedPort:
InstDepend:
InstConflict:
StartDepend:
StartConflict:
Version:          1.3
MinFWVer:
MaxFWVer:
IndividualFlag:
